/* Highest Level Elements */
body { background: #401502 url(../img/bg_3.jpg) repeat 0px 0px; color: #F7A08F; font-family: Arial; margin: auto; }
header, main, footer { display: block; margin: 0px auto; position: relative; width: 980px; z-index: 1; }
a:link { color: #F7A08F; text-decoration: none; }
a:visited { color: #F7A08F; text-decoration: none; }

/* Header Specifics */
header#primary { z-index: 10; }
header#primary div.information { font-weight: bold; text-align: right; text-transform: uppercase; }
header#primary div.information span.address { padding: 0px 20px 0px 0px; }
header#primary div.information span.social { }
header#primary nav { background-color: #401502; font-weight: bold; text-align: right; }
header#primary nav div { display: inline-block; padding: 0px 15px; position: relative; text-transform: uppercase; }
header#primary nav div.sub_section { background-color: #401502; border: 5px solid #F7A08F; display: inline-block; font-weight: bold; left: 0px; opacity: 0; padding: 0px; position: absolute; top: 20px; width: 200px; z-index: 20; }
header#primary nav div.sub_section div.item { border-bottom: 5px solid #F7A08F; padding: 5px 10px; text-align: left; width: 90%; }
header#primary nav div.sub_section div.item:last-child { border-bottom: none; }

/* Main Specifics */
main#page_content { }

/* Footer Specifics */
footer { }
footer div { text-align: center; text-transform: uppercase; }
footer nav { text-align: center; }
footer nav span { padding: 0px 10px; text-transform: uppercase; }