main#page_content.imageGallery div.image img { height: 350px; width: 100%; }

.image_carousel { padding: 15px 0px 15px 40px; position: relative; }

.image_carousel img {
    border: 1px solid #ccc;
    background-color: white;
    padding: 9px;
    margin: 7px;
    display: block;
    float: left;
}

a.prev, a.next {
    background: url(../img/miscellaneous_sprite.png) no-repeat transparent;
    width: 45px;
    height: 50px;
    display: block;
    position: absolute;
    top: 85px;
}

a.prev {            left: -22px;
                    background-position: 0px 0px; }
a.prev:hover {      background-position: 0px -50px; }
a.prev.disabled {   background-position: 0px -100px !important;  }
a.next {            right: -22px;
                    background-position: -50px 0px; }
a.next:hover {      background-position: -50px -50px; }
a.next.disabled {   background-position: -50px -100px !important;  }
a.prev.disabled, a.next.disabled {
    cursor: default;
}

a.prev span, a.next span {
    display: none;
}
.pagination {
    text-align: center;
}
.pagination a {
    background: url(../img/miscellaneous_sprite.png) 0px -300px no-repeat transparent;
    width: 15px;
    height: 15px;
    margin: 0px 5px 0px 0px;
    display: inline-block;
}
.pagination a.selected {
    background-position: -25px -300px;
    cursor: default;
}
.pagination a span {
    display: none;
}
.clearfix {
    float: none;
    clear: both;
}

div.image_carousel div#foo2 img { cursor: pointer; }