main#page_content article.legal { padding: 0px; }
main#page_content article.legal p { width: 100%; }
main#page_content article.legal h2 { font-family: "TradeGothicW01-BoldExte"; font-size: 16px; font-weight: normal; }