<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true"/>
  </system.web>
  <connectionStrings>
    <add name="DenihanConnStr" connectionString="jibberjabberjabberjabberjib" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>